{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('Formulaire.css') }}">
{% endblock %}

{% block Title %}
    Ajouter Bateau
{% endblock %}

{% block Body %}
    <div class="container-fluid my-form align-self-center">
        {{ form_start(formBateau) }}
            <div class="row my-row1 justify-content-center">
                <p>Ajouter un Bateau</p>
            </div>
            <div class="row field1">
                <div class="col-4">
                    <label for="id">Matricule :</label>
                </div>
                <div class="col-5">
                    {{form_widget(formBateau.matricule , { attr: { 'placeholder' : 'Entrer la matricule'  }})}}
                </div>
            </div>
            <div class="row field2">
                <div class="col-4">
                    <label for="nomB"> Nom du bateau :</label>
                </div>
                <div class="col-5 ">
                    {{form_widget(formBateau.nom , { attr : {'placeholder' : 'Entrer le nom du Bateau'} })}}
                </div>
            </div>
            <div class="row field3">
                <div class="col-4">
                    <label for="ml"> Métrage :</label>
                </div>
                <div class="col-5 ">
                    {{form_widget(formBateau.metrage, { attr : {'placeholder' : 'Entrer le métrage du Bateau'} })}}
                </div>
            </div>
            <div class="row field4">
                <div class="col-4">
                    <label for="prop"> Téléphone du Propriétaire :</label>
                </div>
                <div class="col-5 ">
                    {{form_widget(formBateau.owner , { attr : {'placeholder' : 'Entrer un n° de téléphone'} })}}
                </div>
            </div>
            <div class="row buttons justify-content-center ">
                <div class="col-3 ">
                    <button onclick="window.location.href='{{ path('bateaux')}}'">Annuler</button>
                </div>
                <div class="col-3">
                    <button type="submit" >Ajouter ></button>
                </div>
            </div>
        {{ form_end(formBateau) }}

        </form>
    </div>
{% endblock %}
{% block Script %}
{{ parent() }}
{% endblock %}
