{% extends 'base.html.twig' %}
{% block Title %}
    Client
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('myStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Client.css') }}">

{% endblock %}
{% block Body %}
    <div class="container-fluid my-col10">
        <div class="row">
            <div class="col-12">
                <p class="title">Boats & Cars</p>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-2">
                <a href="{{ path('client.ajouter') }}">
                    <button style="margin-left: 30%" class="btn my-btn btn-light">Ajouter Client</button>
                </a>
            </div>
            <div class="text col-2">
                <p>{{ values|length }} Clients</p>
            </div>
            <form>
                <div class="form-group form-check-inline">
                    <div class="input-group col-11">
                        <input id="search" type="text" class="form-control" placeholder="Chercher..">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="dropdown show col-2 offset-1 block">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-sliders fa-lg" aria-hidden="true"></i>
                    <p>Clients</p>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <!--					<a class="dropdown-item" href="#">Client</a>-->
                    <a class="dropdown-item" href="{{ path('bateaux') }}">Bateaux</a>
                    <a class="dropdown-item" href="{{ path('moteur') }}">Moteurs</a>
                </div>
            </div>
        </div>
        <div class="row inforow">
            {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-10 mytable ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        {% for name,head in headers %}
                            <th><a style="color: #FFFFFF" href="{% if (orderby==head|lower and mode=='DESC') or (orderby!=head|lower) %} {{ path('client',{'ORDERBY':head|lower,'MODE':'ASC'}) }} {% else %} {{ path('client',{'ORDERBY':head|lower,'MODE':'DESC'}) }} {% endif %} ">{{ name }} {% if orderby==head|lower %} {% if mode=='ASC' %} <i class="fa fa-sort-asc" aria-hidden="true"></i> {% else %} <i class="fa fa-sort-desc" aria-hidden="true"></i> {% endif %} {% endif %} </a></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for val in values %}
                        <tr>
                            <th>{{ val.cin }}</th>
                            <td>{{ val.nom }}</td>
                            <td>{{ val.prenom }}</td>
                            <td><a href="mailto:{{ val.email }}">{{ val.email }}</a></td>
                            <td>{{ val.telephone }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block Script %}
<script src="{{ asset('search.js') }}"></script>
    {{ parent() }}
{% endblock %}